* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar {
  background-color: #f1ede3;
  display: flex;
  align-items: center;
  height: 6.5vh;
  border-bottom: solid 0.1rem rgb(88, 85, 85);

  .imgLogo {
    width: 4vw;
  }
  div {
    h2 {
      width: 11vw;
      font-family: "Poppins";
      font-size: 1rem;
       color: #494646;
    }

    p {
      font-family: "Inter";
      font-size: 0.8rem;
       color: #494646;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    margin-right: 4rem;

    a {
      font-family: "Source Sans 3";
      font-size: 0.9rem;
      font-weight: 600;
      color: #494646;
      padding: 5px;
      transition: 0.2s;

      &:hover {
        background-color: rgb(87, 171, 250);
        color: white;
        border-radius: 5px;
      }
    }
  }
}
